<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <img src="{{url_for('static', filename='css/form.css')}}" alt="">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
  <div class="nav-bar">
    <nav class="nav">
      <img src="img/nav-logo.svg" alt="">
      <ul>
        <li><a href="services.html" class="header-nav-list">Услуги</a></li>
        <li><a href="" class="header-nav-list">Контакты</a></li>
        <li><a href="about.html" class="header-nav-list">О нас</a></li>
      </ul>
    </nav>
  </div>
  <section class="form">
    <div class="container">
      <p>Оставьте заявку наш менеджер свяжется с вами в ближайшее время!</p>
      <div class="form-block">
        <img src="img/form-logo.svg" alt="">
        
      </div>
    </div>
  </section>
</div>
</body>
</html>